
.navbar-brand.page-scroll {
    padding-bottom: 0;
    padding-top: 0;
}
.top-nav-collapse .navbar-brand.page-scroll {
    padding-top: 2px;
}
ul.nav.navbar-nav {
  float: right;
}
.page_title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 22px;
    padding-bottom: 14px;
}
section li {
    font-size: 15px;
    line-height: 1.7;
}
.intro-section {
  padding-top: 150px;
}
img {
  height: auto;
  max-width: 100%;
}
